<div class="alexis-forgetpassword-container">
  <div class="alexis-forgetpassword-card">
    <div class="alexis-pikaimg-password">
      <%= image_tag("pika.png") %>
    </div>
    <div class="alexis-forgetpassword-logo">
      <div class="alexis-forgetpassword-logo-image">
        <%= image_tag("pokeball.png") %>
      </div>
      <h1>Pokéshop</h1>
    </div>
    <h2>Forgot your password?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Reset password" %>
      </div>
    <% end %>
    <div class="alexis-forgetpassword-bonus-btn">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
