<div class="navbar">
  <div class="left-element">
      <div class="logo">
        <%= image_tag("pokeball.png") %>
        <h1>Pokéshop</h1>
      </div>
      <div class="element">
        <p>Explore</p>
      </div>
      <div class="element">
        <p>How it works</p>
      </div>
  </div>
  <div class="right-element">
    <div class="element-search">
      <input type="text" placeholder="">
      <i class="fas fa-search"></i>
    </div>
    <% if user_signed_in? %>
      <div class="sign-up-btn">
        <%= link_to "sign out", destroy_user_session_path,  method: :delete%>
      </div>
    <% else %>
      <div class="sign-up-btn">
        <%= link_to "sign-up", new_user_session_path %>
      </div>
      <div class="element">
        <%= link_to "LOGIN", new_user_session_path %>
      </div>
    <% end %>
  </div>
</div>

<div class="header-container">
    <div class="text-information">
      <h1>Gotta catch them all !</h1>
      <p>The first peer to peer online Pokemon shop.
        The most needed Pokemon Marketplace!</p>
      <div class="header-btn">
        <%= link_to "GO TO MARKETPLACE", pokemons_path %>
      </div>
    </div>
    <div class="img-information" style="background-image: url('<%= image_path('landing_page_visual.png') %>')">
      <img src="" alt="">
    </div>
  </div>
</div>

<%# <%= link_to "sign up", new_user_registration_path %>
<%# <%= link_to "sign out", destroy_user_session_path,  method: :delete%>
