<h1>NEW POKEMON</h1>
<%= simple_form_for @pokemon do |f| %>
  <%= f.input :name, placeholder: 'pokemon name' %>
  <%= f.input :price, placeholder: 'price in €' %>
  <%= f.submit class: 'btn btn-flat' %>
<% end %>

<%= link_to "back to market place", pokemons_path %>
