<div class="container">
  <div class="tanki-card-container">
    <div class="tanki-img-container">
      <div class="pokemon-img">
        <img src="<%= @pokemon.image %>">
      </div>
    </div>
    <div class="information-container">
      <div class="pokemon-information">
        <div class="pokemon-name">
          <h2><%= @pokemon.name %></h2>
        </div>
        <div class="pokemon-renter">
          <h4><u>Rented by:</u> <%= check_username_empty(@seller)%></h4>
        </div>
        <div class="pokemon-description">
          <p><%= @pokemon.description %></p>
        </div>
        <div class="pokemon-type">
          <div class="type">
            <div class="text">
              <h4>Type:</h4>
            </div>
            <div>
            <div class="arti-tag">
              <div class="type-tag <%=@pokemon.type1%>">
                <h4><%= @pokemon.type1 %></h4>
              </div>
              <% if @pokemon.type2.present?  %>
                <div class="type-tag <%=@pokemon.type2%>">
                  <h4><%= @pokemon.type2 %></h4>
                </div>
              <% end %>
            </div>
            </div>
          </div>
          <div class="type">
            <div class="text">
              <h4>Weaknesses:</h4>
            </div>
            <div class="weakness-tag">
              <h4><%= "X" %></h4>
            </div>
          </div>
        </div>
        <div class="pokemon-price">
          <div class="current-price">
            <div class="label">
              <h4>Current price</h4>
            </div>
            <div class="price">
              <h2>€<%= @pokemon.price %></h2>
            </div>
          </div>
          <div class="rent-button">
            <% if current_user.id == @pokemon.user_id  %>
              <%= link_to "Delete", pokemon_path, method: :delete%>
            <% else %>
              <%= simple_form_for([@pokemon, @booking]) do |f| %>
                <%= f.button :submit %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "back to market place", pokemons_path %>
</div>
