<h1>show</h1>
<%= @seller.email %>
<%= @pokemon.name %>
<%= @pokemon.price %>

<% if current_user.id != @pokemon.user_id %>
  <%= simple_form_for([@pokemon, @booking]) do |f| %>
    <%= f.button :submit , class: "header-btn"%>
  <% end %>
<% end %>

<% if current_user.id == @pokemon.user_id %>
  <%= link_to "Delete", pokemon_path , method: :delete %>
<% end %>
<%= link_to "back to market place", pokemons_path %>
