<div class="container">
  <div class="tanki-card-container">
    <%= link_to pokemons_path, class: 'back-to-pokemons' do %>
      <span><i class="fas fa-arrow-alt-circle-left fa-2x"></i>Back to Marketplace</span>
    <% end %>
    <%= link_to image_tag("pokedex-logo.png"), "https://www.pokemon.com/us/pokedex/#{@pokemon.name}", target: '_blank', class:"alexis-pokedex-link" %>
    <div class="tanki-img-container">
      <div class="pokemon-img">
        <img src="<%= @pokemon.image %>">
      </div>
    </div>
    <div class="information-container">
      <div class="pokemon-information">
        <div class="pokemon-name">
          <h2><%= @pokemon.name %></h2>
        </div>
        <div class="pokemon-renter">
          <h4><u>Rented by:</u> <%= check_username_empty(@seller)%></h4>
        </div>
        <div class="pokemon-description">
          <p><%= @pokemon.description %></p>
        </div>
        <div class="pokemon-type">
          <div class="type">
            <div class="text">
              <h4>Type:</h4>
            </div>
            <div>
            <div class="arti-tag">
              <div class="type-tag <%=@pokemon.type1%>">
                <h4><%= @pokemon.type1 %></h4>
              </div>
              <% if @pokemon.type2.present?  %>
                <div class="type-tag <%=@pokemon.type2%>">
                  <h4><%= @pokemon.type2 %></h4>
                </div>
              <% end %>
            </div>
            </div>
          </div>
        </div>
        <div class="pokemon-price d-flex flex-column">
          <div class="price-and-form d-flex">
            <div class="current-price">
              <div class="label">
                <h4>Current price</h4>
              </div>
              <div class="price">
                <h2 id="price-set" data-price="<%= @pokemon.price%>">€<%= @pokemon.price %>
                <span class="hours-show">/hours</span>
                </h2>
              </div>
            </div>
            <div class="rent-button">
              <% if current_user.id == @pokemon.user_id  %>
                <div class="alexis-delete-show-btn">
                  <%= link_to "Delete", pokemon_path, method: :delete, class:"btn btn-danger"%>
                </div>
              <% else %>
                <div class="alexis-book-btn-show">
                  <%= simple_form_for([@pokemon, @booking]) do |f| %>
                    <div class="">
                      <%= f.input :amount, label: "Select duration", :collection => (1..24),
                      input_html: {class: "class-input"},
                      label_html: {class: "class-label"},
                      wrapper_html: {class: "class-wrapper"} %>
                    </div>
                    <%= f.button :submit %>
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <h2 id="calculate-price"><span id="price-span"></span><span id="percent-span"></span></h2>
        </div>
      </div>
    </div>
  </div>
</div>
